@{
    ViewData["Title"] = "Home Page";
}

<h1>The Joel Hilton Film Collection</h1>
<div class="text-left">
    <p>This list only Contains Joel's Favorite Movies</p>
    <img src="~/img/joelhiltonheadshot.jpg" />
</div>

<br />

<div>
    <a asp-controller="Home" asp-action="MovieForm">Add To the Collection</a>
</div>